<div class="row">
  <div class="col-12 mt-2">
    <h2>User List</h2>
    <form class="form-inline my-3">
      <input (keyup)="onChangePhrase($event)" class="form-control" type="text" placeholder="Search">
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="onColumnSelect('id')">#</th>
          <th (click)="onColumnSelect('name')">Name</th>
          <th (click)="onColumnSelect('email')">Email</th>
          <th (click)="onColumnSelect('address')">Address</th>
          <th (click)="onColumnSelect('active')">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filter:filterKey:phrase | sort:columnKey">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="onDelete(user)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>